/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

body {
}

.search-form {
  width: 371px;
  margin: 36px auto;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 16px;
}

input {
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  padding: 8px 16px;
  outline: none;
}

input:hover {
  border-color: #000;
}

input:active {
  border-color: #4e75ff;
}

.search-button {
  margin-left: 8px;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #4e75ff;
  width: 91px;
  height: 40px;
}

.loader {
  display: none;
  position: fixed;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 20%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: #ff3d00;
  animation: 6s prog ease-in infinite;
}

@keyframes prog {
  to {
    width: 100%;
  }
}

.gallery {
  width: 1152px;
  margin: 0 auto;
  /* padding: 24px 156px; */
  /* display: grid;
  grid-area: auto;
  grid-template-columns: repeat(3, 360px); */
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: #ffffff;
  border-radius: 8px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
  border: 1px solid #808080;
  background: url(<path-to-image>) lightgray -76px -16.297px / 125.278% 150.297%
    no-repeat;
}

.link {
  position: relative;
  display: block;
  justify-content: center;
}

.info {
  display: inline-flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1px;
  border-right: 1px solid #808080;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  background: #fff;
  padding: 4px 15px 4px 15px;
  width: 330px;
  height: 38px;
  z-index: 11;
}

.info-title {
  color: #2e2f42;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-align: center;
}

.info-text {
  color: #2e2f42;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.48px;
  text-align: center;
  padding-bottom: 0;
}

.load-more {
  display: none;
  margin: 20px auto 0 auto;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #4e75ff;
  width: 91px;
  height: 40px;
}

.scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
